body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Top bar styling */
.top-pane {
  background-color: #333; /* Dark background color */
  color: white; /* White text color */
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Split panes layout */
.pane {
  display: flex;
  height: calc(63vh - 30px); /* Adjust for half of the viewport height minus the top bar height */
  overflow: hidden;
}

/* Editor container styling */
.editor-container {
  flex-grow: 1;
  background-color: #f5f5f5; /* Light background color */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: hidden;
  transition: flex-grow 0.3s;
}

.editor-container.collapsed {
  flex-grow: 0;
}

/* Button for expanding/collapsing */
.expand-collapse-btn {
  background: none;
  border: none;
  color: white; /* White color */
  cursor: pointer;
  transition: color 0.3s;
}

/* Title bar styling */
.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: #333; /* Dark background color */
  color: white; /* White text color */
  padding: 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CodeMirror editor styling */
.CodeMirror {
  height: 100% !important;
}

/* Wrapper for the editor */
.code-mirror-wrapper {
  flex-grow: 1;
  overflow: auto; /* Allow scrolling when content overflows */
  border-radius: 0.5rem;
  border: 1px solid #ccc; /* Add a border for separation */
  background-color: white; /* White background color */
}